.portfolio {
    background-color: white;
    margin: 20px auto 0px auto;
    padding: 20px;
    border: 2px solid #dddddd;
    width: 960px;    
}
   


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/grayBackground.png");
    background-position: fixed;
    color: #777777;
    /* margin: auto;
    width: 80%; */
    padding-top: 2em;
}

.name {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    background-color:#4aaaa5;
    padding: 0px 5px 0px 5px;
    margin-left: 10%;
    z-index: 1;
}

.box01 {
    background-color: white;
    height:67px;
    width: 100%;
    position: static;
    /* display: inline; */
    z-index: -1;
    border-bottom: 1px solid #cccccc;

}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
     color:#4aaaa5; 
     text-decoration:none; 
     cursor:pointer;  
}

.navigation ul {
float:right;
padding-top: 1em;
font-size: 14px;
color: gray;
font-family: Arial, Helvetica, sans-serif;
}

.navigation ul li {
    list-style-type: none;
    display: inline;
}

li~li { 
    border-left: 1px solid #cccccc;
    padding: 1px;
}

.portfolio {
    color: #4aaaa5;
    border-bottom: 1px solid #dddddd;
}

.portfolio-H2 {
    color: #4aaaa5;
    border-bottom: 1px solid #dddddd;
}


.footer {
    position: absolute;
    bottom:30px;
    width:100%;
}

.box02 {
    background-color: #4aaaa5;
    height:10px;
    width: 100%;
    position: fixed;
    float: bottom;
    margin-bottom: 100px;
    z-index: 1;
    
}

 .box03 {
    background-color: gray;
    height:80px;
    width: 100%;
    position: fixed;
    float:bottom;
    z-index: -1;
}

.img01 {
    float:left;
    padding: 0px 10px 0px 0px;
}

